/* initial view port iPad */

/* NAV */
.nav-item {
    margin-right: 20px;
}

.font {
    color: white !important;
}

.nav-bg {
    background-color: black !important;
    opacity: 0.7;
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Montserrat', sans-serif;
}

.font p {
    font-family: 'Open Sans', sans-serif;
}

/* Jumbotron */
.main-jumbotron {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), to(black)), url(../assets/main-bg.jpg);
    background-image: linear-gradient(to bottom, transparent 70%, black 100%), url(../assets/main-bg.jpg);
    background-size: cover;
    height: 760px;
    text-align: center;
}

.main-text {
    color: white;
    margin-top: 100px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0, 7);
    font-size: 46px;
}

.main-text-2 {
    color: white;
    margin-top: 40px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0, 7);
}

.main-btn {
    width: 200px;
    margin-top: 30px;
}

.main-p {
    color: white;
    margin-top: 180px;
}

.main-i {
    color: white;
    margin-top: -50px;
}
